* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#gameHeading {
  color: green;
  font-size: 50px;
  text-align: center;
  margin-bottom: 1rem;
}

#deck {
  display: flex;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shuffleBtn,
.dealBtn,
.clearHandBtn,
.pickUpBtn,
.buyBtn {
  width: 400px;
  height: 200px;
  background-color: green;
  color: white;
  font-size: 50px;
  cursor: pointer;
}

/* Remember this for when you start styling in game */

/* img {
  margin-left: -50px;
} */

img {
  margin-top: 5rem;
  cursor: pointer;
}

/* navbar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}

header {
  padding: 1rem;
}

.options {
  color: green;
  font-size: 50px;
  display: flex;
}

.options a {
  padding: 1rem;
}

/* Player hand */
.myHand {
  height: 250px;
  width: 1500px;
  margin: auto;
  border: 1px dotted black;
  display: flex;
  flex-direction: row;
}

.inHand:first-child {
  margin-left: 10%;
}

.inHand {
  margin-top: 0;
  margin-left: -50px;
}

/* coin count */
#coinCount {
  font-size: 20px;
  color: green;
}
